name: Build Container Images

on:
  schedule:
  - cron: '33 4 * * 0'
  push:
    branches:
    - master

jobs:
  core:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cfg:
        - base: core
          base_os: xenial
          platforms: linux/amd64,linux/386,linux/arm64,linux/arm/v7,linux/ppc64le
        - base: core18
          base_os: bionic
          platforms: linux/amd64,linux/386,linux/arm64,linux/arm/v7,linux/ppc64le,linux/s390x
        - base: core20
          base_os: focal
          platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/ppc64le,linux/s390x
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: diddledan/snapcraft
        tags: |
          type=ref,event=branch,prefix=${{ matrix.cfg.base }}-
          type=ref,event=pr,prefix=${{ matrix.cfg.base }}-
          type=semver,pattern={{version}},prefix=${{ matrix.cfg.base }}-
          type=semver,pattern={{major}}.{{minor}},prefix=${{ matrix.cfg.base }}-
          type=sha,prefix=${{ matrix.cfg.base }}-
          type=raw,value=${{ matrix.cfg.base }}
        labels: |
          org.opencontainers.image.title=Snapcraft for ${{ matrix.cfg.base }} builds
          org.opencontainers.image.description=Image of Snapcraft for building projects targeting the ${{ matrix.cfg.base }} base snap.
          org.opencontainers.image.authors=diddledani@ubuntu.com
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        platforms: ${{ matrix.cfg.platforms }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        build-args: |
          BASE_OS=${{ matrix.cfg.base_os }}
